    

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Gêneros</p>
                <div class="list-group">
                    <% @generos.each do |genero| %>
                    <li class="list-group-item"> <%=link_to genero.nome,genero_path(genero) %></li>
                    <% end %>
                </div>
            </div>

<%= render "filmes/index" %>
